 .start-animation svg{
   /*Line that goes throught the whole svg*/
 #line{
   stroke-dasharray: 1500;
   animation-delay: 0.3s;
   animation: dash 1s ease-in-out forwards;
 }
 /*Dashed stroke animation done by animating a white line over a dashed one.*/
 #eclipse-1{
   stroke-dasharray: 2000;
   animation: stroke 0.4s ease-in-out forwards;
 }
 #eclipse-2{
   stroke-dasharray: 1500;
   animation: stroke 1.3s 0s ease-in-out forwards;
 }
 #eclipse-3{
   stroke-dasharray: 2000;
   animation: stroke 0.7s 0s ease-in-out forwards;
 }
 #eclipse-4{
   stroke-dasharray: 2400;
   animation: bigstroke 0.9s 0s ease-in-out forwards;
 }
 /*First planet and text under.*/
 #planet-1, #Research{
   animation: fillIn 0.8s ease-in-out;
 }
 /*Second planet and text under. Different animations, because planet is made out of stroke and a white circle inside.*/
 #planet-2{
   opacity:0;
   animation: fillIn 0s 0.5s ease-in-out forwards;
 }
 #Define{
   opacity:0;
   animation: fillIn 1s ease-in-out forwards;
 }
 /*A white circle inside 2nd planet.*/
 #path-1{
   opacity: 0;
   animation: fillIn 0.15s ease-in-out forwards;
 }
 /*Third planet, text underneath and moons around it.*/
 #planet-3, #Analyse {
   opacity: 0;
   animation: fillIn 0.6s 0.55s ease-in-out forwards;
 }
 #dot-1, #dot-2{
   opacity: 0;
   animation: fillIn 0.6s 1s ease-in-out forwards;
 }
 /*Forth planet, text underneath, saturn ring and moons around it.*/
 #planet-4, #Ideate, #saturn-ring, #dot-3, #dot-4, #dot-5, #dot-6, #dot-7, #dot-8{
   opacity: 0;
   animation: fillIn 0s 0.45s ease-out forwards;
 }
 /*White border around saturn ring.*/
 #white-outline{
   stroke-dasharray: 1500;
   stroke-dashoffset: 0;
   animation: dash 5.4s forwards;
 }
 /*Fifth planet, text underneath and moons around it.*/
 #planet-5, #Prototype, #dot-9, #dot-10, #dot-11, #dot-12{
   opacity: 0;
   animation: fillIn 1s 0.4s ease-in-out forwards;
 }
 /*Sixth planet, text underneath and moons around it.*/
 #planet-6, #Evaluate, #dot-13, #dot-14{
   opacity: 0;
   animation: fillIn 1s 0.5s ease-in-out forwards;
 }
 /*Iterate text and white rectangular behind it.*/
 #Iterate, #iterate-mask{
   opacity: 0;
   animation: fillIn 1s 0.5s ease-in-out forwards;
 }
 /*Animation functions. Dont change*/
 @keyframes fillIn {
   0% { opacity: 0; }
   100% { opacity: 1; }
 }

 @keyframes dash {
   from {
     stroke-dashoffset: 1500;
   }
   to {
     stroke-dashoffset: 0;
   }
 }
 @keyframes stroke {

   to {
     stroke-dashoffset: 2000;
   }
 }
 @keyframes bigstroke {

   to {
     stroke-dashoffset: 2400;
   }
 }

}
